body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.card {
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #007bff;
  color: #ffffff;
}

#weatherData {
  margin-top: 20px;
}
